@model IEnumerable<fBlockBuster.Models.tblArticulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Miniatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temporadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Episodios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblArticuloDetalle.Productor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblGenero.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTipo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Miniatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temporadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Episodios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblArticuloDetalle.Productor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblGenero.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTipo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idArticulo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idArticulo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idArticulo })
        </td>
    </tr>
}

</table>
