@model IEnumerable<fBlockBuster.Models.tblArticuloDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idioma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitulos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblRating.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idioma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtitulos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblRating.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idArticuloDetalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.idArticuloDetalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idArticuloDetalle })
        </td>
    </tr>
}

</table>
