@model fBlockBuster.Models.tblArticuloTransaccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblArticuloTransaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblArticulo.Miniatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblArticulo.Miniatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTransaccion.idTransaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTransaccion.idTransaccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idArticuloTransaccion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
