@model IEnumerable<fBlockBuster.Models.tblArticuloTransaccion>

@{
    ViewBag.Title = "Index";
}

@{

    if (Convert.ToInt32(Session["Tipo"]) == 1)
    {
        Layout = "~/Views/Shared/Admin.cshtml";

    }
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblArticulo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTransaccion.idTransaccion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tblArticulo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblTransaccion.idTransaccion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idArticuloTransaccion }) |
                @Html.ActionLink("Details", "Details", new { id = item.idArticuloTransaccion }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idArticuloTransaccion })
            </td>
        </tr>
    }

</table>
